{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Submitted sites{% endblock %}

{% block morehead %}
    <link rel="stylesheet" href="{% static 'styles/select2.min.css' %}" />

{% endblock %}

{% block morescript %}
    <script src="{% static "js/ajax-form.js" %}"></script>
    <script src="{% static "js/select2.min.js" %}"></script>
    <script src="{% static "rest_framework/js/csrf.js" %}"></script>
    <script>
     window.drf = {
      csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
      csrfCookieName: "{{ csrf_cookie_name|default:'csrftoken' }}"
    };
    $(document).ready(function() {
      $('form').ajaxForm();
      $(".site-tags-multiple").select2({
        maximumSelectionLength: 3
      });
      $(".site-tags-single").select2({
        maximumSelectionLength: 3
      });
    });
    </script>
{% endblock %}

{% block content %}
    {% if error or results != None %}
    <div class="container-fluid">
        <div class="h2">
            Submitted Sites<br />
            <small>Total Sites: {{ user.submitted_sites.count }}</small>
        </div>
        <div class="list-group">
        {% for site in results %}
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <h4 class="list-group-item-heading">
                        {% if site.image %}
                            <img src="{{ site.image }}" width="40" height="40" class="img-circle"/>
                            &nbsp;
                        {% endif %}
                        {% if site.title and not site.error %}
                        <a href="{{ site.url }}" >
                            {{ site.title }}
                        </a>
                        {% else %}
                        {{ site.title }}
                        {% endif %}
                    </h4>
                    {% if not site.title %}
                    <p class="list-group-item-text text-muted">
                        {{ site.link }}
                    </p>
                    {% endif %}
                    {% if site.description %}
                    <p class="list-group-item-text text-muted">
                        {{ site.description }}
                    </p>
                    {% endif %}
                    <div class="list-group-item-text text-muted">
                        <a href="{% url 'users:site-detail' pk=site.id %}" class="btn-xs btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                        &nbsp;
                        {% for tag in site.tags %}
                        <a class="badge" href="{{ tag.url }}">
                            {{ tag.name }}
                        </a>
                        {% empty %}
                        <i class="text-muted">No tags</i>
                        {% endfor %}
                    </div>
                    {% if site.error %}
                    <p class="list-group-item-text text-muted">
                        Error: {{ site.error.message }}
                        Because of this error, this site will be shown in search results.
                    </p>
                    <p class="list-group-item-text text-muted">
                        URL: {{ site.link }}
                    </p>
                    <hr />
                    <p class="list-group-item-text text-muted">
                        Please refer to our <a href="/documentation">documentation</a>
                        to see how we parse sites and their feeds.
                    </p>
                    {% endif %}
                    {% if site.time_since_update %}
                    <hr style="margin:5px;" />
                    <p class="list-group-item-text text-muted">
                        Last updated {{ site.time_since_update }}
                    </p>
                    {% endif %}
                </div>
                <div class="col-xs-2 text-right">
                    <form data-method="DELETE" action="{% url 'users:site-detail' pk=site.id %}">
                        <button class="btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="h4">
            You don't have any sites.
        </div>
        <p>You can <a href="{% url 'new-site' %}">add new sites here</a></p>

        {% endfor %}
        </div>
        <div class="container-fluid text-center">
            <div class="">
            {% if previous %}
                <a class="btn btn-default" href="{{ previous }}">Previous</a>
            {% endif %}
            {% if next %}
                <a class="btn btn-default" href="{{ next }}">Next</a>
            {% endif %}
            </div>
        </div>
    </div>
    {% elif url %}
    <!-- Detail Query -->
    <div class="h2 text-center">
        Edit Site<br />
        <small>
            See your changes on the <a href="{{ url }}">public site page</a><br />
        </small>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="container-fluid text-center">
                        {% if image %}
                            <img class="img-circle" width="80px" src="{{ image }}" alt="{{ feed.title }}" />
                        {% else %}
                            <img class="img-circle" width="80px" src="{% static 'images/blank-profile-small.png' %}" alt="{{ feed.title }}" />
                        {% endif %}&nbsp;<br />
                        <div class="h3">
                            {% if title %}
                            <a target="_blank" href="{{ link }}">{{ title }}</a><br />
                            {% else %}
                            <p>Unparsed Site Feed</p>
                            <small>This feed is waiting to be crawled.
                            Check back in a bit.</small>
                            {% endif %}
                        </div>
                        <div class="text-center container-fluid">
                            {% if time_since_update %}
                            <p>Last updated {{ time_since_update }}</p>
                            {% endif %}
                        </div>
                        <div class="text-center container-fluid">
                            {{ total_recommendations|default:"0" }} people like this.
                        </div>
                        <!-- Update form -->
                        <form action="{% url 'users:site-detail' pk=id %}" method="PATCH">
                            <div class="text-left">
                                <div class="h4">
                                    Description
                                </div>
                                {% if description %}
                                    <p>{{ description }}</p>
                                {% else %}
                                    <p><i class="text-muted">No description</i></p>
                                {% endif %}
                                <hr />
                                <div class="h4">
                                    Tags
                                </div>
                                {% csrf_token %}
                                <div style="margin-bottom:10px;" class="text-center">
                                    <select name="tags" class="form-control site-tags-multiple" multiple="multiple"
                                        data-placeholder="Select up to 3 tags.">
                                    {% for tag in all_tags %}
                                      <option value="{{tag.slug}}" {% if tag in tags %}selected{% endif %}>{{ tag.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <hr />
                                <div class="text-left">
                                    <h4>Type</h4>
                                    <ul class="text-muted">
                                        <li>A <a href="http://www.manton.org/2014/09/defining-a-microblog-post.html">microblog</a> is a site that contains mostly short posts (&lt; 280 characters long) with no post titles.</li>
                                        <li>If your site doesn't fit into any of the specialized types, then select Blog. Most sites are categorized this way (default).</li>
                                    </ul>
                                    <div class="row" style="margin-bottom:5px;">
                                        <div class="col-xs-12">
                                            <select name="type" class="form-control site-tags-single"
                                                data-placeholder="Choose a type.">
                                            {% for type_ in types %}
                                              <option value="{{ type_.0 }}" {% if type_.0 == type %}selected{% endif %}>{{ type_.1 }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-left">
                                    <h4>Default feed</h4>
                                    <p class="text-muted">
                                        Below are all of the feeds found on the site.
                                        Site information is pulled from it's default feed.
                                        If a site's information looks wrong it could be that
                                        we're looking at the wrong source.
                                        By default, the first feed found is used as the default.
                                    </p>
                                    {% for feed in feeds %}
                                    <div class="row" style="margin-bottom:5px;">
                                        <div class="col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input type="radio" name="default_feed" value="{{ feed.feed_url }}"
                                                        {%if feed.feed_url == default_feed.feed_url %}checked{% endif %}>
                                                </span>
                                                <input type="text" value="{{ feed.feed_url }}" disabled class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <button type="submit" class="btn-sm btn-primary">Save</button>
                        </form>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    {% endif %}
    <hr />
    <div class="container-fluid text-center">
        <p>If you're having issues with a site,
        check out the <a href="/documentation">documentation</a>.</p>
    </div>
{% endblock %}

