{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Activation failed" %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row" style="margin-top:50px;">
    <div class="col-sm-12 col-md-5 col-md-offset-2 text-center">
      <div class="h2">
          There was a problem registering your account.
        <br />
        <small>
            {% blocktrans %}Oops &ndash; it seems that your activation key is invalid. Please check the url and try again.{% endblocktrans %}
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      <img class="" src="{% static 'images/spruce-tree.jpg' %}"
        style="width:90%; max-width:400px;" />
    </div>
  </div>
</div>
{% endblock %}
