{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="h1 text-center">
        About Pine
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <p>For years people have been moving onto closed social networks like Facebook and Twitter and leaving their blogs and microblogs to wither. As a result, writing on the web is held hostage by the giants of social media, but it doesn't have to be this way. Podcasts for example have so far avoided the fate of blogs and video and remained true to the open web. In no small way, the openness of the iTunes Podcast directory has had a huge impact on the fate of podcasts as a medium. Apple provides a centralized directory that other users, clients, and services can search freely, all while the shows themselves remain open and decentralized.
                </p>
                <p>Pine wants to do the same for blogging.</p>
                <p>Blogs come in all shapes and sizes from newspapers, to personal blogs to twitter-like microblogs, and Pine is the open search directory for it all. Pine provides a free, comprehensive API that other services can use to integrate Pine into their apps.
                </p>
                <p>It's time to take back blogging from the titans and make writing on the web open again.</p>
            </div>
        </div><br />
        <div class="row text-center">
            <div class="col-xs-2 col-xs-offset-4">
                <img class="img-circle" src="//www.gravatar.com/avatar/11b074a636e00292c98e3e60f7e16595?size=100"/><br />
                Brian Schrader
            </div>
            <div class="col-xs-2">
                <img class="img-circle" src="//avatars3.githubusercontent.com/u/2057364?v=4&s=100"/><br />
                Micah Denbraver
            </div>
        </div>
    </div>
{% endblock %}

