{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Documentation{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-bottom:50px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                        <!-- FAQ -->
                        <div class="h1 text-center">
                            Quick FAQ
                        </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Do you support JSON Feed?</h4>
                        <p>Not yet, but it's coming real soon.</p>
                        <h4>Are there any plans for Advanced Search Syntax?</h4>
                        <p>Yes, this is also coming soon.</p>
                        <h4>Can I build my app/service using Pine for search.</h4>
                        <p>Yes, of course. We do ask that you credit us though. See <b>Usage</b> for more information.</p>
                        <h4>I don't see {my site} in the search results, can I add it?</h4>
                        <p>Yes, that's what Pine is for! Create an account and add your site.</p>
                        <h4>Why did you build this?</h4>
                        <p>Great question, and <a href="/about">here's our answer.</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="h1 text-center">
            More Help
        </div>
        <!-- Support -->
        <div class="h2">
            Getting help
        </div>
        <p>For any support questions, including incorrectly parsed feeds, API limit inquiries and anything else, please email us at <a href="mailto:support@pinesearch.com">support@pinesearch.com</a>
        </p>

        <!-- Usage -->
        <div class="h2">
            Usage
        </div>
        <p>Both the website and REST API are free to use. Results of the API can be used in both commercial and non-commercial projects, but commercial projects are <strong>required</strong> to cite that the results came from "Pine Search". In these cases we'd ask that you also provide a link to our site. We support the open web and we'd love it if the open web supported us too.</p>

        <!-- Feed Spec -->
        <div class="h2">
            How we parse feeds
        </div>
        <p>In an effort to simplify and to prevent spam, Pine populates a site's data with information found in it's feeds. No attempts are made to gather information from the host site since RSS and JSON Feeds provide all the information needed.</p>
        <p>Below is a list of site attributes and how they are retrieved from the given RSS (JSON Feed support coming soon).</p>
        <ul class="list-unstyled">
            <li><code>title</code>
                For RSS feeds, this corresponds to the <code>&lt;title&gt;</code> element.
                <p><b>Note:</b> This element is recommended to not have HTML in it as it will not be rendered.</p>
            </li>
            <li><code>description</code>
                For RSS feeds, this corresponds to the <code>&lt;description&gt;</code> element.
                <p><b>Note:</b> This element is recommended to not have HTML in it as it will not be rendered.</p>
            </li>
            <li><code>image</code>
                For RSS feeds, this corresponds to the <code>&lt;url&gt;</code> element inside of the root <code>&lt;image&gt;</code> element.
                <p><b>Note:</b> It is strongly recommended that images be square in shape.</p>
            </li>
            <li><code>link</code>
                For RSS feeds, this corresponds to the <code>&lt;link&gt;</code> element.
            </li>
        </ul>
        <h4>Feed Specific Fields</h4>
        <ul>
            <li><code>feed_url</code>
                Gathered from the URL where the feed was found.
            </li>
            <h4>RSS Feeds</h4>
            <p>Feeds that are RSS based will have a few specialized fields.</p>
            <ul>
                <li><code>cloud</code>
                    For RSS feeds, this corresponds to the <code>&lt;cloud&gt;</code> element.
                    <p><b>Note:</b> Wordpress implements this feature automatically and it is highly recommended for Microblogs since it allows support for user-to-user replies.</p>
                </li>
            </ul>
        </ul>
    <div>
{% endblock %}

