{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load rest_framework %}

{% block title %}{{ title|default:"Feeds" }}{% endblock %}

{% block morescript %}
    <script src="{% static "js/ajax-form.js" %}"></script>
    <script src="{% static "rest_framework/js/csrf.js" %}"></script>
   <script>
     window.drf = {
      csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
      csrfCookieName: "{{ csrf_cookie_name|default:'csrftoken' }}"
    };
   $(document).ready(function() {
      $('form').ajaxForm();
    });
    </script>
{% endblock %}

{% block content %}
    {% if error or results != None %}
    <!-- Search Form -->
    <div class="h1 text-center">
        <img src="{% static 'images/spruce-tree-small.jpeg'%}">
        Pine<br />
        <small>Find the people and blogs you want.</small>
    </div><br />
    <div class="container-fluid">
        <form method="get" action="/feeds">
            <div class="input-group">
              <input type="text" placeholder="The Talk Show"
                name="search" value="{{ request.GET.search }}" class="form-control">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default">Search</button>
              </div><!-- /btn-group -->
            </div><!-- /input-group -->
        </form>
    </div>
    <hr />
    {% endif %}
    {% if error %}
    <!-- Search Error -->
        <div class="container-fluid text-center">
            <h2>Please enter a valid search</h2>
        </div>
    {% elif results != None %}
    <!-- Search Results -->
    <div class="container-fluid">
        <div class="list-group">
        {% for feed in results %}
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <h4 class="list-group-item-heading">
                        {% if feed.image %}
                            <img src="{{ feed.image }}" width="40" height="40" class="img-circle"/>
                            &nbsp;
                        {% endif %}
                    <a href="{{ feed.url }}" >
                        {{ feed.title }}
                    </a>
                    </h4>
                    {% if feed.description %}
                    <p class="list-group-item-text text-muted">
                        {{ feed.description }}
                    </p>
                    {% endif %}
                    {% if feed.time_since_update %}
                    <hr style="margin:5px;" />
                    <p class="list-group-item-text text-muted">
                        Last updated {{ feed.time_since_update }}
                    </p>
                    {% endif %}
                </div>
                <div class="col-xs-2 text-right">
                    <div class="container-fluid" style="margin-bottom:10px;">
                        <a href="{{ feed.rss_url }}"><i class="fa fa-feed"></i> Feed</a>
                    </div>
                    <div class="container-fluid">
                        <a href="{{ feed.link }}"><i class="fa fa-globe"></i> Site</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="h2">
            No Results
        </div>
        {% endfor %}
        </div>
        <div class="container-fluid text-center">
            <div class="">
            {% if previous %}
                <a class="btn btn-default" href="{{ previous }}">Previous</a>
            {% endif %}
            {% if next %}
                <a class="btn btn-default" href="{{ next }}">Next</a>
            {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <!-- Detail Query -->
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid text-center">
                        {% if image %}
                            <img class="img-circle" width="80px" src="{{ image }}" alt="{{ feed.title }}" />
                        {% else %}
                            <img class="img-circle" width="80px" src="{% static 'images/blank-profile-small.png' %}" alt="{{ feed.title }}" />
                        {% endif %}&nbsp;<br />
                        <div class="h3">
                            {% if title %}
                            <a target="_blank" href="{{ link }}">{{ title }}</a><br />
                            {% else %}
                            <p>Unparsed Site Feed</p>
                            <small>This feed is waiting to be crawled.
                            Check back in a bit.</small>
                            {% endif %}
                        </div>
                        <div class="text-center container-fluid">
                            {% if time_since_update %}
                            <p>Last updated {{ time_since_update }}</p>
                            {% endif %}
                        </div>
                        <div class="text-center container-fluid">
                            {{ total_recommendations }} people like this.
                            {% if user.is_authenticated %}
                                {% if not recommendation %}
                                <form method="POST" action="{% url 'feedrecommendation-list' format='json' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="feed" value="{{ url }}" />
                                    <button class="btn-xs btn-primary">Recommend</button>
                                </form>
                                {% else %}
                                <form method="DELETE" action="{% url 'feedrecommendation-detail' pk=recommendation.id format='json' %}">
                                    <input type="hidden" name="feed" value="{{ url }}" />
                                    <button class="btn-xs btn-warning">Un-Recommend</button>
                                </form>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="text-left container-fluid">
                            <div class="h4">
                                Description
                            </div>
                            {% if description %}
                                <p>{{ description }}</p>
                            {% else %}
                                <p><i class="text-muted">No description</i></p>
                            {% endif %}
                            <hr />
                            <div class="h4">Tags</div>
                            {% for tag in tags %}
                            <a class="badge" href="{{ tag.url }}">
                                {{ tag.name }}
                            </a>
                            {% empty %}
                            <i class="text-muted">No tags</i>
                            {% endfor %}
                        </div>
                        <hr />
                        <div class="container-fluid text-right">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <a class="btn btn-default" href="{{ rss_url }}"><i class="fa fa-feed"></i>&nbsp;Feed</a>
                                </span>
                                <input type="text" value="{{ rss_url }}" class="form-control">
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    {% endif %}
    <hr />
    <div class="container-fluid text-center">
        {% if error or results != None %}
        <p><a href="{{ request.get_full_path }}&format=json">API Query for this search</a></p>
        {% else %}
        <p><a href="{{ request.get_full_path }}?format=json">API Query for this item</a></p>
        {% endif %}
        <p><a href="/documentation">Feed/API Documentation</a></p>
    </div>
{% endblock %}

