{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Search for Blog RSS and JSON Feeds{% endblock %}

{% block morehead %}
    <meta name="description" content="Pine is a search engine and directory for Blogs and their RSS and JSON Feeds. It also has a fully featured and free API for developers.">
    <meta name="keywords" content="blogs,rss,json feed,search,directory,index,api">
{% endblock %}

{% block content %}
    <!-- Search Form -->
    <div class="h1 text-center">
        <img src="{% static 'images/spruce-tree-small.jpeg'%}">
        Pine<br />
        <small>The blog directory for the modern web.</small>
    </div><br />
    <div class="container-fluid">
        <form method="get" action="/sites">
            <div class="input-group">
              <input type="text" placeholder="The Talk Show" autofocus required
                name="search" value="{{ request.GET.search }}" class="form-control">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-lg fa-search"></i></button>
              </div><!-- /btn-group -->
            </div><!-- /input-group -->
        </form>
    </div>
    <div class="text-center">
        <p><br />
            <b>Developers:</b> Check out the <a href="/api_documentation">free search API</a>!
        </p>
    </div>
    <hr />
    <!-- No search; Show Categories -->
    <div class="row">
        {% for tag in results %}
        <div class="col-xs-12 col-sm-4" style="max-height:320px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" href="{{ tag.url }}">{{ tag.name }}</a>
                </div>
                <div class="panel-body">
                    {% for site in tag.sites %}
                    <div class="row" style="padding-bottom:10px;">
                        <a href="{{ site.url }}">
                            <div class="col-xs-12">
                            {% if site.image %}
                                <img class="img-circle" width="50px" src="{{ site.image }}" alt="{{ site.title }}" />
                            {% else %}
                                <img class="img-circle" width="50px" src="{% static 'images/blank-profile-small.png' %}" alt="{{ site.title }}" />
                            {% endif %}
                            {{ site.title }}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr />
    <div class="container-fluid text-center">
        {% if request.GET.search %}
        <p><a href="{{ request.get_full_path }}&format=json">API Query for this search</a></p>
        {% endif %}
        <p><a href="/api_documentation">API Documentation</a></p>
    </div>
{% endblock %}
