{% extends 'base.html' %}
{% load staticfiles %}
{% load rest_framework %}

{% block morehead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
{% endblock %}

{% block morescript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script> -->
{% endblock %}

{% block content %}
    <!-- Get Form, or Make New -->
    <div class="h1 text-center">
        Submit a site<br />
    </div><br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <p>
                    Add a link to your site (or link us directly to it's RSS feed).
                    It's that easy! It might take some time for us to
                    process, but we'll add it to our list. Check back later to see
                    how your site looks.
                </p>
                <p>
                    Reminder: Before submitting <a href="/documentation">check out our documentation.</a>
                    Only valid feeds will be accepted.
                </p>
                <form method="post" action="{% url 'new-feed' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        {% render_form serializer %}
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit</button>
                        </span>
                    </div>
                    <ul>
                    {% for error in errors %}
                    <li class="text-danger">{{ error.message }}</li>
                    {% endfor %}
                    </ul>
                </form>
                <br />
                <p>
                    If you're having trouble with a feed, contact our support.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

