{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load rest_framework %}

{% block title %}{{ name|default:"Tags" }}{% endblock %}

{% block content %}
    <div class="h1 text-center">
        Top in {{ name }}
    </div><br />
    {% if sites != None %}
    <!-- Tag Top Results -->
    <div class="container-fluid">
        <div class="list-group">
        {% for site in sites %}
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <h4 class="list-group-item-heading">
                        {% if site.image %}
                            <img src="{{ site.image }}" width="40" height="40" class="img-circle"/>
                            &nbsp;
                        {% endif %}
                    <a href="{{ site.url }}" >
                        {{ site.title }}
                    </a>
                    </h4>
                    {% if site.description %}
                    <p class="list-group-item-text text-muted">
                        {{ site.description }}
                    </p>
                    {% endif %}
                    <hr style="margin:5px;" />
                    <p class="list-group-item-text text-muted">
                    {% if site.time_since_update %}
                        Last updated {{ site.time_since_update }}
                    {% endif %}
                    {% if site.time_since_update and site.total_recommendations %},{% endif %}
                    {% if site.total_recommendations == 1 %}
                        {{ site.total_recommendations }} recommendation
                    {% elif site.total_recommendations > 1 %}
                        {{ site.total_recommendations }} recommendations
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="h2">
            No Results
        </div>
        {% endfor %}
        </div>
        <div class="container-fluid text-center">
            <div class="">
            {% if previous %}
                <a class="btn btn-default" href="{{ previous }}">Previous</a>
            {% endif %}
            {% if next %}
                <a class="btn btn-default" href="{{ next }}">Next</a>
            {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <hr />
    <div class="container-fluid text-center">
        {% if error or results != None %}
        <p><a href="{{ request.get_full_path }}&format=json">API Query for this search</a></p>
        {% else %}
        <p><a href="{{ request.get_full_path }}?format=json">API Query for this item</a></p>
        {% endif %}
        <p><a href="/documentation">API Documentation</a></p>
    </div>
{% endblock %}
